@model Conta

@{
    ViewData["Title"] = "Index";
}
<h1>Contas</h1>
<br />
<div class="d-flex justify-content-between ">
    <form asp-controller="Conta" asp-action="Index">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Número Agencia" name="numeroAgencia">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Número Conta" name="numeroConta">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">  <i class="bi bi-search"></i></button>          
            </div>
        </div>
    </form>
    <p>
        <a asp-action="Create" class="btn btn-primary mx-2"> + Cadastro </a>
    </p>
</div>



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
               Agencia
            </th>
            <th>
               Número Conta
            </th>
            <th>
                Documento
            </th>
            <th>
                Limite
            </th>
            <th></th>
        </tr>
    </thead>
    @if(Model !=null)
    {
        <tbody>

            <tr>
                <td>
                    @Model.Agencia
                </td>
                <td>
                    @Model.Numero
                </td>
                <td>
                    @Model.Documento
                </td>
                <td>
                    @Model.Limite
                </td>
                <td>
                    <div class="w-75 btn-group d-flex" role="group">
                        <a asp-controller="Conta" asp-action="Edit" asp-route-numeroConta="@Model.Numero" asp-route-numeroAgencia="@Model.Agencia" class="btn btn-primary btn-sm mx-2 rounded">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-controller="Conta" asp-action="Delete" asp-route-numeroConta="@Model.Numero" asp-route-numeroAgencia="@Model.Agencia" class="btn btn-danger btn-sm rounded">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </div>
                </td>
            </tr>

        </tbody>
    }

</table>